<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>StringPerformanceTests</key>
		<dict>
			<key>testNSStringConversionPerformance()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00011964</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Glimpse Bot – Integration 302</string>
				</dict>
			</dict>
			<key>testUTF16StringConversion()</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00076997</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Glimpse Bot – Integration 302</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
