<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KanjiGen.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>KanjiLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>KanjiScript.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>KanjiVM.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7E0E8C231B6FA7170003FEC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E0E8C2C1B6FA7170003FEC6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E5ABD931B60483B00F11C77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E5ABD9C1B60483C00F11C77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E5D8B461B66F3250038E02B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E5D8B4F1B66F3260038E02B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EA888041AAAB6DF00C6DBB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EA8880F1AAAB6DF00C6DBB3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
